@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<input type="text" id="delProductID" size="5" />
<input type="button" value="Delete" onclick="DeleteProduct();" />
@section Scripts{
    <script type="text/javascript">
    var hostUrl = "https://" + document.location.hostname + ":" + "44394";
    var apiUrl = '/api/Products';
    $(document).ready(function () { });

    function DeleteProduct() {
        var id = $('#delProductID').val();
        $.ajax(
        {
            url: hostUrl + apiUrl + '/' + id,
            type: 'DELETE',
            dataType: 'json',
            success: function (data) {
                alert('Product deleted');
                //GetAllProducts();
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }


    </script>
}
