@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<a class="btn btn-danger" href="@Url.Action("ListProduct", "Home")">List Product</a><br /><hr />
<a class="btn btn-default" href="@Url.Action("AddProduct", "Home")">Add Product</a><br /><hr />
<a class="btn btn-info" href="@Url.Action("EditProduct", "Home")">Edit Product</a><br /><hr />
<a class="btn btn-primary" href="@Url.Action("DeleteProduct", "Home")">Delete Product</a><br /><hr />